{% extends "website/layout.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="center-page" >
    <h1>Records</h1>
    {% if records %}
    {% for record in records %}
    
    {{record.first_name}}
    {{record.last_name}}
    {{record.email}}
    {{record.phone}}
    {{record.address}}
    {{record.city}}
    {{record.zipcode}}
    {{record.created_at}}
    {{record.id}}
    
    <br><br>
    {% endfor %}
    {% else %}
    <br><br><br>
    <h2>No Records found..</h2>
    {% endif %}
</div>
{% else %}
<br><br><br>
<center>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="col-md-3">
            <input type="text" name="username" class="form-control mb-3" placeholder="Username">
            <input type="password" name="password" class="form-control mb-3" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</center>

{% endif %}
{% endblock %}