{% extends "website/layout.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container">
    
{% if user.is_authenticated %}
{% if records %}
    <br>
<table class="table table-hover table-bordered">
    <thead class='table-dark'>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">ZipCode</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody>
      {% for record in records %}

    <tr>
        <td><a href="{% url "customer_record" record.id %}">{{record.id}}</a></td>
    <td>{{record.first_name}} {{record.last_name}}</td>
    <td>{{record.email}}</td>
    <td>{{record.phone}}</td>
    <td>{{record.address}}</td>
    <td>{{record.city}}</td>
    <td>{{record.zipcode}}</td>
    <td>{{record.created_at}}</td>
    </tr>
    
    {% endfor %}
    </tbody>
</table>
    {% else %}
    <br><br><br>
    <br><br><br>
    <center><h2>No Records found..</h2></center>
    {% endif %}

{% else %}
      
    
<br><br><br>
<center>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="col-md-3">
            <input type="text" name="username" class="form-control mb-3" placeholder="Username">
            <input type="password" name="password" class="form-control mb-3" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</center>
</div>
{% endif %}
{% endblock %}